<div class="main-hero-section-div">
    <div class="youtube-btn">
            <img style="max-width: 20px;" src="images/play.png" alt="">
    </div>
    <div class="hero-section-masking-div">
        <img class="hero-section-main-size" src="images/hero-bg.webp" alt="">
        <img class="hero-section-main-overlay" src="images/hero-text.webp" alt="">
        <img class="watch-trailer-btn" src="images/watch-trailer.png" alt="">
    </div>
    <div class="hero-section-on-mask-div">
        <img class="anmol-overlay" style="width: 30%;position:relative;top: 14%;" src="images/logo.webp" alt="">
        <h3 class="coming-soon">
            Coming <br> May 26th <br> 2026
        </h3>
    </div>


</div>