
.second-screen {
    text-align: left;
    min-height: 100vh;
    display: flex;
    padding: 80px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.second-screen p {
    font-size: 30px;
    line-height: 1.6;
    max-width: 800px;
    margin: 10px 0;
    background: linear-gradient(
        90deg,
        rgb(255, 193, 129),
        rgb(238, 71, 104),
        rgb(127, 35, 103)
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; /* makes text see-through */
}